<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Adventure finder</a>
    </div>

     <form class="navbar-form" role="search">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search for hikes, rock climbing..." name="srch-term" id="srch-term" />
          </div>
        </div>
      </form>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create Adventure</a>
          <ul class="dropdown-menu">
            <li><a href="#">Hike</a></li>
            <li><a href="#">Climb</a></li>
            <li><a href="#">Run</a></li>
            <li><a href="#">Bike</a></li>
            <li><a href="#">Ski</a></li>
            <li><a href="#">Yoga</a></li>
            <li><a href="#">Surf</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Scuba</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Education</a>
          <ul class="dropdown-menu">
            <li><a href="#">Hike &amp; Camp</a></li>
            <li><a href="#">Climb</a></li>
            <li><a href="#">Run</a></li>
            <li><a href="#">Bike</a></li>
            <li><a href="#">Ski</a></li>
            <li><a href="#">Yoga</a></li>
            <li><a href="#">Surf</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Scuba</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gear</a>
          <ul class="dropdown-menu">
            <li><a href="#">New arrivals</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Recalls</a></li>
            <li><a href="#">User manual</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
          <ul class="dropdown-menu">
            <li><a href="#">New projects</a></li>
            <li><a href="#">Upcoming projects</a></li>
            <li><a href="#">Fundraising</a></li>
            <li><a href="#">Request help</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
          <ul class="dropdown-menu">
            <li><a href="#">Personal informations</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
